<!DOCTYPE html>
<html>
<head>
    <title>Intrusion Detection Demo</title>
</head>
<body>
    <div style="max-width:950px; margin:auto; padding:20px">
    <h2 style="text-align:center;">Machine Learning Intrusion Detection System</h2>
    <p style = "text-align:center;">Upload a CSV file of network traffic data to analyze.</p>

    <form action="/predict" method="post" enctype="multipart/form-data" style="text-align:center;">
        <input type="file" name="file">
        <input type="submit" value="Analyze Traffic" style="
            padding:10px 20px;
            background-color:#6c757d;
            color:white;
            border:none;
            border-radius:5px;
            cursor:pointer;
        ">
    </form>
</div>
</body>
<hr>
<p style="text-align:center; font-size:12px; color:gray">
    Machine Learning Cyber Defense Demo | Madison Torres
</p>
</html>